@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">
            Order Placed Successfully! 🎉
        </h1>
        <div style="font-size: 80px;">
            ✅
        </div>
        <p class="mt-3">
            Your Order Number is: <strong>@Model</strong>
        </p>
        <p>
            Your order has been placed successfully!
        </p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">
            Continue Shopping
        </a>
    </div>
</div>